{% if p is not None %}
    <ul class="uk-pagination uk-flex-center" data-uk-margin>
        {% if p.prev %}
            <li><a href="?{% if p.query_string %}{{ p.query_string }}&amp;{% endif %}{{ page_get_key }}={{ p.prev }}"><span data-uk-pagination-previous></span></a></li>
            {% if p.first %}
                <li><a href="?{% if p.query_string %}{{ p.query_string }}&amp;{% endif %}{{ page_get_key }}={{ p.first }}">{{ p.first }}</a></li>
                {% if p.others_left %}<li class="uk-disabled"><span>...</span></li>{% endif %}
            {% endif %}
            {% for i in p.pages_left %}
                <li><a href="?{% if p.query_string %}{{ p.query_string }}&amp;{% endif %}{{ page_get_key }}={{ i }}">{{ i }}</a></li>
            {% endfor %}
        {% endif %}
        <li class="uk-active"><span>{{ p.active }}</span></li>
        {% if p.next %}
            {% for i in p.pages_right %}
                <li><a href="?{% if p.query_string %}{{ p.query_string }}&amp;{% endif %}{{ page_get_key }}={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if p.last %}
                {% if p.others_right %}<li class="uk-disabled"><span>...</span></li>{% endif %}
                <li><a href="?{% if p.query_string %}{{ p.query_string }}&amp;{% endif %}{{ page_get_key }}={{ p.last }}">{{ p.last }}</a></li>
            {% endif %}
            <li><a href="?{% if p.query_string %}{{ p.query_string }}&amp;{% endif %}{{ page_get_key }}={{ p.next }}"><span data-uk-pagination-next></span></a></li>
        {% endif %}
    </ul>
{% endif %}