{% extends "wagtailadmin/base.html" %}

{% load i18n %}

{% block titletag %}{% translate 'Export' as export %}{% endblock %}

{% block content %}
    {% include 'wagtailadmin/shared/header.html' with title=export icon='collapse-down' %}

    <div class="nice-padding">
        {% if exporters %}
            <ul>
            {% for e in exporters %}
                <li><a href="{{ e.url }}">{{ e.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{% translate 'There are no exporters loaded.' %}</p>
        {% endif %}
    </div>

{% endblock %}